/* google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

*{
  font-family: "Outfit", sans-serif;
}

.font-playfair{
  font-family: "Playfair Display", serif !important;
}

@media (max-width: 768px) {
  .cl-userButtonPopoverCard {
    position: fixed !important;
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 90vw !important;
    max-width: 360px !important;
    max-height: 80vh !important;
    overflow: auto !important;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .cl-userButtonPopoverCard::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 769px) {
  .cl-userButtonPopoverCard {
    position: fixed !important;
    top: 20% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 90vw !important;
    max-width: 500px !important;
    max-height: 80vh !important;
    overflow: auto !important;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .cl-userButtonPopoverCard::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1100px) {
  .cl-userButtonPopoverCard {
    position: fixed !important;
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 90vw !important;
    max-width: 800px !important;
    max-height: 80vh !important;
    overflow: auto !important;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .cl-userButtonPopoverCard::-webkit-scrollbar {
    display: none;
  }
}